*{
    padding:0%;
    margin:0%;
    font-family: 'Titillium Web', sans-serif;

}
.services img{
    width:100%;
    height:100%;
}
.v2{
padding-right:0;
padding-left:0;
}
.Lorem{
color:black;

}
section{
    background-color:rgba(255, 255, 255, 0.849);
}
.carousel-item img{
    width: 100%;
    height:90vh;
}
carousel-caption h5{
    color: white;
}
.about_img
{
    min-width: 100%;
    max-height: 280px;
}

.myjourney{
color: black;
font-size:25px;
}

